<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
  <head>
<!-- If you delete this meta tag, the ground will open and swallow you. -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Websec Weekly Newsletter</title>
  </head>
  <body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; background: black; margin: 0; padding: 0;"><style type="text/css">
@media only screen and (max-width: 600px) {
  a[class="btn"] {
    display: block !important; margin-bottom: 10px !important; background-image: none !important; margin-right: 0 !important;
  }
  div[class="column"] {
    width: auto !important; float: none !important;
  }
  table.social div[class="column"] {
    width: auto !important;
  }
}
</style>

<!-- HEADER -->
<table class="head-wrap" bgcolor="black" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
		<td class="header container" align="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 850px !important; clear: both !important; margin: 0 auto; padding: 0;">
			
			<!-- /content -->
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 800px; display: block; margin: 0 auto; padding: 15px;">
				<table bgcolor="black" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><img style="width: 200px; height: 50px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/wsw1.png" /></td>
						<td align="right" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><h6 class="collapse" style="color: white; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; font-weight: 900; font-size: 14px; text-transform: uppercase; margin: 0; padding: 0;">{{date}}</h6></td>
						<td align="right" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><h6 class="collapse" style="color: white; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; font-weight: 900; font-size: 14px; text-transform: uppercase; margin: 0; padding: 0;">Newsletter</h6></td>
						
					</tr></table></div><!-- /content -->
			
		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
	</tr></table><!-- /HEADER --><!-- BODY --><table class="body-wrap" bgcolor="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
		<td class="container" align="" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 850px !important; clear: both !important; margin: 0 auto; padding: 0;">
			
			
<!-- content -->
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 800px; display: block; margin: 0 auto; padding: 15px;">
				<table bgcolor="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
							
							<!-- social & contact -->
							<table bgcolor="" class="social" width="100%" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background: #ebebeb; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
										
										<!--- column 1 -->
										<div class="column" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 50%; float: left; margin: 0 auto; padding: 0;">
											<table bgcolor="" cellpadding="" align="left" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="word-wrap: break-word; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px;">				
												
												<h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Reddit: /r/netsec</h5>
												{% if netsec_data %}
												{% for i in netsec_data %}
												<div class="soc-btn" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; height: 100%; text-decoration: none; color: #FFF; font-weight: bold; display: block; text-overflow: ellipsis; margin: 0; padding: 3px 7px;">
													<p style="color: black; font-weight: bold; line-height: 3px; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">{{ loop.index }}. 
														<a href="{{i[1]}}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">{{i[0]}}</a>
													</p>
												</div>
												<div class="mdata" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">
													<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/comments.png" /><a href="{{i[6]}}" style="display: inline; color: black; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0 0 0 5px;">
														{{i[5]}}
													</a>
													<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/ups.png" /><p style="display: inline; color: black; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0 0 0 5px;">
														{{i[4]}} Up Votes
													</p>
													<a href="http://twitter.com/share?url={{i[1]}}&amp;text={{i[0]}} via @websecweekly" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">
														<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
														Tweet this
													</a>
												</div>
												{% endfor %}
												{% else %}
												<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">
													No new data
												</p>
												{% endif %}					

											</td>
										</tr></table><!-- /column 1 --></div>
										
										<!--- column 2 -->
										<div class="column" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 50%; float: left; margin: 0 auto; padding: 0;">
											<table bgcolor="" cellpadding="" align="left" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px;">				
																			
												<h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">HackerOne: Disclosed</h5>												
												{% if hackerone_public_data %}
												{% for i in hackerone_public_data %}
												<div class="soc-btn" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; height: 100%; text-decoration: none; color: #FFF; font-weight: bold; display: block; text-overflow: ellipsis; margin: 0; padding: 3px 7px;">
													<p style="color: black; font-weight: bold; line-height: 3px; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">{{ loop.index }}. 
														<a href="{{i[6]}}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: 	#2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">{{i[5]}}</a>
													</p>
												</div>
												<div class="mdata" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">
													<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/company.png" /><a href="{{i[1]}}" style="display: inline; color: black; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0 0 0 5px;">
														{{i[0]}}
													</a>
													<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/user.png" /><p style="display: inline; color: black; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0 0 0 5px;">
														<a href="{{i[3]}}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">{{i[2]}}</a>
													</p>
													<a href="http://twitter.com/share?url={{i[6]}}&amp;text={{i[5]}} via @websecweekly" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">
														<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
														Tweet this
													</a>
												</div>
												{% endfor %}
												{% else %}
												<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">
													No new data
												</p>
												{% endif %}
												
											</td>
										</tr></table><!-- /column 2 --></div>
										
										<div class="clear" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block; clear: both; margin: 0; padding: 0;"></div>
	
									</td>
								</tr></table><!-- /social & contact --></td>
					</tr></table></div><!-- /content -->
			<!-- content -->
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 800px; display: block; margin: 0 auto; padding: 15px;">
				<table bgcolor="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
							
							<!-- social & contact -->
							<table bgcolor="" class="social" width="100%" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background: #ebebeb; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
										
										<!--- column 1 -->
										<div class="column" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 50%; float: left; margin: 0 auto; padding: 0;">
											<table bgcolor="" cellpadding="" align="left" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px;">				
												
												<h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Stackexchange: Security</h5>
												{% if stackoverflow_data %}
												{% for i in stackoverflow_data %}
												<div class="soc-btn" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; height: 100%; text-decoration: none; color: #FFF; font-weight: bold; display: block; text-overflow: ellipsis; margin: 0; padding: 3px 7px;">
													<p style="color: black; font-weight: bold; line-height: 3px; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">{{ loop.index }}. 
														<a href="{{i[1]}}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">{{i[0]}}</a>
													</p>
												</div>
												<div class="mdata" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">
													<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/comments.png" /><a href="{{i[1]}}" style="display: inline; color: black; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0 0 0 5px;">
														{{i[2]}} answers
													</a>
													<a href="http://twitter.com/share?url={{i[1]}}&amp;text={{i[0]}} via @websecweekly" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">
														<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
														Tweet this
													</a>
												</div>
												{% endfor %}
												{% else %}
												<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">
													No new data
												</p>
												{% endif %}
						
												
											</td>
										</tr></table><!-- /column 1 --></div>
										
										<!--- column 2 -->
										<div class="column" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 50%; float: left; margin: 0 auto; padding: 0;">
											<table bgcolor="" cellpadding="" align="left" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px;">				
																			
												<h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Bugcrowd: Bounties</h5>												
												{% if bugcrowd_data %}
												{% for i in bugcrowd_data %}
												<div class="soc-btn" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; height: 100%; text-decoration: none; color: #FFF; font-weight: bold; display: block; text-overflow: ellipsis; margin: 0; padding: 3px 7px;">
													<p style="color: black; font-weight: bold; line-height: 3px; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">{{ loop.index }}. 
														<a href="{{i[1]}}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">{{i[0]}}</a>
													</p>
												</div>
												<div class="mdata" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">
													<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/types.png" /><p style="display: inline; color: black; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0 0 0 5px;">
														{{bugcrowd_notations[loop.index]|safe}}
													</p>
													<a href="http://twitter.com/share?url={{i[1]}}&amp;text={{i[0]}} via @websecweekly" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">
														<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
														Tweet this
													</a>
												</div>
												{% endfor %}
												{% else %}
												<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">
													No new data
												</p>
												{% endif %}
											</td>
										</tr></table><!-- /column 2 --></div>
										
										<div class="clear" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block; clear: both; margin: 0; padding: 0;"></div>
	
									</td>
								</tr></table><!-- /social & contact --></td>
					</tr></table></div><!-- /content -->
			<!-- content -->
			<!-- content -->
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 800px; display: block; margin: 0 auto; padding: 15px;">
				<table bgcolor="" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
							
							<!-- social & contact -->
							<table bgcolor="" class="social" width="100%" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background: #ebebeb; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
										
										<!--- column 1 -->
										<div class="column" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 50%; float: left; margin: 0 auto; padding: 0;">
											<table bgcolor="" cellpadding="" align="left" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px;">				
												
												<h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Twitter: Infosec Related</h5>
												{% if twitter_data %}
												{% for i in twitter_data %}
												<div class="soc-btn" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; height: 100%; text-decoration: none; color: #FFF; font-weight: bold; display: block; text-overflow: ellipsis; margin: 0; padding: 3px 7px;">
													<p style="color: black; font-weight: bold; line-height: 3px; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">{{ loop.index }}. 
														<a href="{{i[2]}}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">{{i[3]}}</a>
													</p>
												</div>
												<div class="mdata" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">
													<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/user.png" /><a href="{{i[1]}}" style="display: inline; color: black; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0 0 0 5px;">
														{{i[0]}}
													</a>
													<a href="https://twitter.com/intent/retweet?tweet_id={{i[2]|twitter_id}}" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;"><img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /> Retweet this</a>
												</div>
												{% endfor %}
												{% else %}
												<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">
													No new data
												</p>
												{% endif %}
											</td>
										</tr></table><!-- /column 1 --></div>
										
										
										<!--- column 2 -->
										<div class="column" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 50%; float: left; margin: 0 auto; padding: 0;">
											<table bgcolor="" cellpadding="" align="left" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px;">				
																			
												<h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Full disclosure Mailing List</h5>												
												{% if fulldisclosure_data %}
												{% for i in fulldisclosure_data %}
												<div class="soc-btn" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; height: 100%; text-decoration: none; color: #FFF; font-weight: bold; display: block; text-overflow: ellipsis; margin: 0; padding: 3px 7px;">
													<p style="color: black; font-weight: bold; line-height: 3px; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">{{ loop.index }}. 
														<a href="{{i[1]}}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">{{i[0]}}</a>
													</p>
												</div>
												<div class="mdata" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">
													<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://static.shubh.am/wsw/cal.png" /><p style="display: inline; color: black; position: relative; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0 0 0 5px;">
														{{i[2]}}
													</p>
													<a href="http://twitter.com/share?url={{i[1]}}&amp;text={{i[0]}} via @websecweekly" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">
														<img style="max-height: 20px; vertical-align: middle; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
														Tweet this
													</a>
												</div>
												{% endfor %}
												{% else %}
												<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">
													No new data
												</p>
												{% endif %}
											</td>
										</tr></table><!-- /column 2 --></div>
										
										<div class="clear" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block; clear: both; margin: 0; padding: 0;"></div>
	
									</td>
								</tr></table><!-- /social & contact --></td>
					</tr></table></div><!-- /content -->
			<!-- content -->
			<!-- /content -->
			

		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
	</tr></table><!-- /BODY --><!-- FOOTER --><table class="footer-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; clear: both !important; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
		<td class="container" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 850px !important; clear: both !important; margin: 0 auto; padding: 0;">
			
				<!-- content -->
				<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 800px; display: block; margin: 0 auto; padding: 15px;">
					<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
								<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 0; text-overflow: ellipsis; margin: 0 0 0px; padding: 0;">
									<a href="https://websecweekly.org/unsubscribe" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; text-overflow: ellipsis; line-height: 1.1; margin: 0; padding: 0;">Unsubscribe</a>
								</p>
							</td>
						</tr></table></div><!-- /content -->
				
		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
	</tr></table><!-- /FOOTER --></body>
</html>
